/* header */
.header {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 99999;
}
.header .inner-main {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    padding: 25px 30px ;
    border-radius: 45px;
    background: #fff;
}
.header .inner-logo img
{
   width: auto;
    height: 30px;
}
.header .inner-menu ul {
    list-style: none;
    /* thang ul bao gio no cung co padding va margin mac dinh, can reset lai */
    padding: 0;
    margin: 0;
    display: flex;
}
.header .inner-menu ul li {
    margin-left: 25px;
}
.header .inner-menu ul li a {
    font-size: 14px;
    font-weight: 500;
}

.header .inner-menu ul li a.active {
    color: var(--color-two);
}
/* end header */
/* section one  */
.section-one {
    background-image: url(../images/banner-bg.png);
    height: 100vh;
    /* KHI MÀ WIDTH của ảnh nhỏ hơn của trình duyệt, thì nó sẽ bị lặp lại,
    ==> cashc fix: thêm backgound-size: cover, background-repeat: no-rêpat
    */
    background-size: cover;
    background-repeat: no-repeat;
    /* và bạn cũng để ý là nếu chúng ta để cover thì nó sẽ mất đi 1 đoạn của ảnh, bởi vì bản chất 
    cái bg-cover nó sẽ tự động cắt đi cái phần thừa để bg nó luôn full, nên bây giờ ta phỉa set thêm position cho cái ảnh 
    */
    background-position: center bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-one .inner-wrap {
    /* giả sử trong inner-wrap có inner-title và inner-desc, thì cái text-align: center này nó kiêu là 
        căn giữ cho chính các inner-title và inner-desc, còn bây giờ có thêm cái max-width: 600 của cái thằng inner-wrap kia,
        mà bây giờ muốn căn chính giữ cái inner-wrap này trog col-12 or row j đó, thì ta sử dụng: margin: 0 auto

    */
    /* text aline center, nó sẽ kiểu là  */
    text-align: center;
    max-width: 600px;
    margin: 0 auto;

}
.section-one .inner-title {
    font-size: 32px;
    color: #fff;
}

/* end section one  */